.bodyContainer {
  display: flex;
  flex-direction: column;

  width: 50%;
  margin: auto;
  margin-top: 10px;

  .profile {
    line-height: 25px;

    p {
      margin-bottom: 40px;
    }

    span {
      font-weight: bold;
    }

    ul {
      margin-top: 15px;
      margin-left: 40px;
    }
  }
}

.links {
  a {
    color: rgb(21, 87, 87);
    text-decoration: none;
    margin-right: 15px;
  }
}

.courses {
  .course {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .courseName {
      font-weight: bold;
    }

    .period {
      color: rgb(146, 146, 146);
      text-transform: uppercase;

      margin-top: 5px;
      font-size: 10pt;
    }
  }
}

.headings {
  color: #fff;
  background-color: black;

  padding: 5px;
  font-size: 10pt;
  margin-bottom: 10px;
  margin-top: 40px;
  width: fit-content;

  &:last-child {
    margin-top: 0;
  }
}
