.headerContainer {
  display: flex;

  width: 100%;
  height: 100px;
  background-color: rgb(118, 199, 199);

  font-size: 15pt;
  padding: 30px;

  h1 {
    margin-left: 24%;
    margin-right: 300px;
  }

  .myInfo {
    display: flex;
    flex-direction: column;
    font-size: 12pt;
    margin-top: 12px;

    span {
      margin-bottom: 7px;
    }

    .profession {
      font-weight: bold;
    }

    .email {
      text-decoration: underline;
    }
  }
}
