.skillBars {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .bar {
    margin-bottom: 10px;

    .info {
      margin-bottom: 5px;
    }

    .progressLine {
      width: 80%;
      height: 8px;
      border-radius: 5px;
      background-color: rgb(240, 240, 240);

      .skill {
        height: inherit;
        background-color: black;
        border-radius: 5px;
      }

      .HTML {
        width: 80%;
      }
      .CSS {
        width: 70%;
      }
      .Nodejs {
        width: 80%;
      }
      .React {
        width: 80%;
      }
      .ReactNative {
        width: 80%;
      }
      .JavaScript {
        width: 100%;
      }
      .TypeScript {
        width: 90%;
      }
      .MongoDB {
        width: 60%;
      }
      .Prisma {
        width: 70%;
      }
      .Inglês {
        width: 100%;
      }
      .Português {
        width: 100%;
      }
    }
  }
}
